<!-- <nav>
  <ul>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="friends">Friends</a></li>
    <li><a href="skills">Skills</a></li>
  </ul>
</nav> -->

<nav class="navbar-expanded">
  <a class="navbar-brand" href="#">BoF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse-navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav-mr-auto">
      <li class="nav-item-active">
        <a class="nav-link" href="about">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Friends</a>
      </li>
      <li class="nav-item-dropdown">
        <a class="nav-link-dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-divider"><a href="#">Photos</a></div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Skills</a>
          <a class="dropdown-item" href="#">Contact</a>
          <a class="dropdown-item" href="https://liverpoolfc.com" targer="_blank">Best Team</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link-settings" href="#">Settings</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn-outline" type="submit">Search</button>
    </form>
  </div>
</nav>
